@page "/Login"

    <h1>pon tu dedo en el escaner, para iniciar sesion.</h1>
<body>
    <div class="scan">
    <div class="fingerprint">
    </div>

    @*<link>pon tu dedo en el escaner para iniciar sesion.</link>*@
</div>
</body>

@code {

}
