@page "/"
<link rel="stylesheet" href="css/Login.css">
@using Kiosco.App.Data
@using Kiosco.App.Data.DTO
@using Kiosco.App.Services
@using System.Reflection
@inject ILoginService LoginService;
@inject NavigationManager NavigationManager

<div class="row justify-content-center pt-5 mt-5">
<div class="login-screen">
   <img id="btnLogo" src="css/imgs/image.png" width="150" height="150" />
    <br />
    <div class="app-title">
        <h3>Digitar el Codigo de su Carnet</h3>
    </div>
    <br />
    <div class="login-form">
        <form class="was-validated">
            <div class="control-group" style="margin-bottom:30px;">
                <input style="min-width:90%" @bind-value="carnetCode" class="login-field font-weight-bold text-uppercase" name="id" id="txtUsername" type="text" placeholder="Carnet Code" required autofocus>
                <div class="invalid-feedback d-none">
                    Por favor ingresar su Carnet Code.
                </div>
            </div>

            <label id="labelError" class="login-field-icon fui-use text-danger d-none" for="username">Credenciales Incorrectas </label>
            <button type="button" class="btn btn-primary btn-large btn-block" @onclick="@(e => OnClick())" id="loginBtn"> INGRESAR </button>
         </form>
        </div>
    </div>
</div>

@code {
    string carnetCode = "";
    private WebResponse<string> LoginDTO = new();

    private async Task OnClick()
    {
        GlovalSearch glovalSearch = new GlovalSearch
        {
            CarnetCode = carnetCode,
        };

        var result = await LoginService.LoginAsync(glovalSearch);

        if(!string.IsNullOrEmpty(result.body))
        {
            NavigationManager.NavigateTo("/home");
        }
    }
}